/**
 * Edited by HacKan
 */

.link-shadow {
	color: inherit;
	text-decoration: none;
	padding: 0 0.1em;
	background: rgba(255,255,255,0.5);
	text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
	border-radius: 0.2em;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.link-shadow:hover, .link-shadow:focus {
    background: rgba(227, 227, 227, 0.80) none repeat scroll 0% 0%;
	text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	text-decoration: none;
}

.link {
	font-style: italic;
}

body {
    box-shadow: none;
}
